<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="studentMapper">
	<resultMap type="com.jshx.entity.Student" id="studentMap">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="password" column="password"/>
		<association property="grade" resultMap="gradeMapper.gradeMap"></association>
	</resultMap>
    <!--使用别名
    <select id="findById" resultType="com.jshx.entity.Student">
      select *
       from
       student
       where id = #{id};
   </select>
-->
    <select id="selectAllStudent" resultType="student">
        select * from student;
    </select>
    
    <select id="selectAllMessageByMap" resultMap="studentMap" parameterType="map">
        select s.id,s.name,s.password,s.grade from student s, grade g
        where s.grade=g.gid
        <if test="sid != null">
        	and s.id = #{sid}
        </if>
    </select>

    <!--插入数据-->
	<insert id="insertStudent" parameterType="student">
		insert into student(id,name,password) values(#{id},#{name},#{password})
	</insert>
<!--     <delete id="deleteUser">
        delete from tb_user where id=#{id}
    </delete>  -->
</mapper>

